html {
  font-family: 'Plantin', sans-serif;
}

h1 {
  font-family: 'Blenny', sans-serif;
  color: #8d3251;
}

.subtitle {
  font-family: 'Soleil', sans-serif;
  font-size: 1em;
  color: #fff;
}

body {
  margin: 0;
}

h2 {
  color: #8d3251;
}

.img-banner {
  display: block;
  width: 100%;
}

.hg-logo {
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.banner-content {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  bottom: .5em;
  max-width: 50em;
}

nav {
  font-family: "Soleil", sans-serif;
  list-style-type: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ ul {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  background-color: #8d3251;
}

input[type="checkbox"].nav-check + label::before {
  display: none;
}

.nav-content {
  z-index: 1000;
  top: -20px;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
  padding-top: 1.3em;
}

.nav-close {
  display: none;
}

a:hover {
  color: #f2a173;
}

.nav-list {
  border-bottom: .1px solid #fff;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.card-label {
  font-family: "Soleil", sans-serif;
  font-size: 1.2em;
  color: #fff;
  background-color: rgba(50, 20, 10, .5);
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  align-content: center;
}

.card-img {
  position: relative;
}

.card-img:hover {
  filter: saturate(120%);
  transition: all .2s linear;
}

.card:hover {
  filter: none;
  transform: scale(1.1);
  transition: all .2s linear;
}

.main-title {
  line-height: .8;
  color: #fff;
}

.servings,
.ingredients,
.preparation {
  line-height: 0;
  color: #8d3251;
  font-family: "Soleil", sans-serif;
}

footer {
  font-family: "Soleil", sans-serif;
  background-color: #8d3251;
  color: #fff;
}

@media only screen and (min-width: 16em) {

  .main-title {
    font-size: 2em;
  }

  .subtitle {
    font-size: 1em;
  }

  .paragraph {
    columns: 1;
  }

  .hg-logo {
    width: 50%;
  }

}

@media only screen and (min-width: 20em) {

  .main-title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1em;
  }

  .paragraph {
    columns: 1;
  }

  .hg-logo {
    width: 50%;
  }

}

@media only screen and (min-width: 25em) {

  .main-title {
    font-size: 5em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .paragraph {
    columns: 1;
  }

  .hg-logo {
    width: 40%;
  }


}

@media only screen and (min-width: 38em) {

  .main-title {
    font-size: 5em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .paragraph {
    columns: 2;
  }

  .hg-logo {
    width: 30%;
  }

}

@media only screen and (min-width: 60em) {

  .subtitle {
    font-size: 1.2em;
  }

  .hg-logo {
    width: 30%;
  }

  .paragraph {
    columns: 2;
  }

  .card-label {
    font-size: .8em;
  }

}
