html {
  font-family: "Plantin", sans-serif;
}

h1 {
  font-family: "Blenny";
  color: #8d3251;
}

.subtitle {
  font-family: "Soleil";
  color: #fff;
}

body {
  margin: 0;
}

.img-banner {
  display: block;
  width: 100%;
}

.hg-logo {
  width: 30%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 450px;
}

.banner-content {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: left;
  bottom: .5rem;
  max-width: 50em;
}

.header-background {
  background-color: linear-gradient(to bottom, #8d3251 #8d3270);
}

nav {
  font-family: 'Soleil', sans-serif;
  list-style-type: none;
  border-bottom: none;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-content {
  z-index: 1000;
}

a:hover {
  color: #f2a173;
}

.list-item-inline {
  display: inline-block;
}

.card-label {
  font-family: 'Soleil', sans-serif;
  color: #fff;
  z-index: 1000;
}

.card-img {
  filter: grayscale(40%);
  transition: all .2s linear;
}

.card-img:hover {
  filter: none;
  transform: scale(1.1);
}

.main-title {
  line-height: .8;
  color: #fff;
}

@media only screen and (min-width: 20em) {
  .main-title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .hg-logo {
    width: 50%;
  }

}

@media only screen and (min-width: 25em) {
  .main-title {
    font-size: 5em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .hg-logo {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {
  .main-title {
    font-size: 7em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .hg-logo {
    width: 50%;
  }

}

@media only screen and (min-width: 60em) {
  .main-title {
    font-size: 8em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .hg-logo {
    width: 50%;
  }

}
